<div class="col-xs-10 col col-xs-offset-1 aboutbox">
  <h1>
    About Splurty
  </h1>
  
  <p>
    This Splurty was built by <a target="_blank" href="https://github.com/shanekrusen/" class="aboutlink">Shane Krusen</a>, a drummer with a passion for web developement.
  </p>
  <br />
  <p>
    He wants to give every drummer the ability to share ideas for practicing, and thinks no drummer should have nothing to practice for the day.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/" class="aboutlink"> here</a>.
  </p>
  <br />
  <p>
    If you want to learn how to drum - start <a target="_blank" href="https://www.facebook.com/SouthJerseyDrumAcademy/" class="aboutlink"> here</a>.
  </p>
  
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'shane.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Shane Krusen</h2>
    <br />
    <p>
      Shane Krusen has been playing drums since 2010 and is a student of <a target="_blank" href="https://www.facebook.com/profile.php?id=1368963046&fref=ts/" class="aboutlink">Doug Moore</a> at the <a target="_blank" href="https://www.facebook.com/SouthJerseyDrumAcademy/" class="aboutlink">South Jersey Drum Academy</a>. He started at <a target="_blank" href="http://www.thefirehoseproject.com/" class="aboutlink">The Firehose Project</a> in May of 2016.
    </p>
    <br />
    <br />
  </div>
  <br class="clear" />
  <br />
</div>