@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

body {
				background: url(http://i.imgur.com/sd2JZZs.jpg) no-repeat center center fixed; 
				  -webkit-background-size: cover;
				  -moz-background-size: cover;
				  -o-background-size: cover;
				  background-size: cover;
}

.clear {
  clear:both;
}

.clear {
  clear:both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #363743;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-style: italic;
	font-size: 35px;
	font-weight: 250;
  padding-top: 26px;
}

.link1 {
  padding-top: 26px;
}

.link1 a {
  color: white;
	font-family: 'Amatic SC', cursive;
  font-size: 35px;
	font-weight: 250;
  border-bottom: 1px solid #dfdfdf;
}

.link2 {
  padding-top: 26px;
}

.link2 a {
  color: white;
	font-family: 'Amatic SC', cursive;
  font-size: 35px;
	font-weight: 250;
  border-bottom: 1px solid #dfdfdf;
	text-align: right;
}

.box {
  color: white;
	font-family: 'Courier New', Courier;
	background-color: rgba(0,0,0,0.5);
  padding: 20px;
  width: 400px;
  margin: 100px auto;
  text-align: center;
}

.navbar {
  background-color: rgba(0,0,0,0.5);
}

.form {
	color: white;
	font-family: 'Courier New', Courier;
}

.logo:hover {
	text-decoration:none;
}

.navlink:hover {
	text-decoration:none;
	color: #808299;
}

.footerlink:hover {
	text-decoration:none;
	color: #808299;
}

